* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f8f6;
}

.dashboard {
  display: grid;
  grid-template-columns: 280px 1fr;
  /* border: 1px solid green; */
  height: 100vh;
}

.mainContent {
  display: flex;
  flex-direction: column;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

.deskstopResult {
  display: block;
}

/* oya farm responsiveness for tablet starts */
@media (max-width: 1300px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
}

/* oya farm responsiveness for mobile starts */
@media (max-width: 769px) {
  .dashboard {
    grid-template-columns: 1fr;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .deskstopResult {
    display: none;
  }
}
