.chatPage {
  background: #f6f8f6;
  min-height: 100vh;
  padding: 10px;
  /* display: flex;
  justify-content: center; */
  flex-direction: column;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.header button {
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
}
