* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mobileBottomNav {
  display: none;
}

/* oya farm responsiveness starts */
@media (max-width: 768px) {
  .mobileBottomNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border: 0.5px solid #2d354127;
    padding: 10px;
  }

  .menuItem {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    text-decoration: none;
    color: #6b7280;
  }

  .menuItem:hover {
    color: #1f7a34;
  }

  .menuItem span {
    font-size: 15px;
  }

  .menuItem i {
    font-size: 20px;
  }

  /* image middle */
  .mobileImageUpload {
    width: 40px;
    height: 40px;
    background-color: #1f7a34;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
  }

  .mobileImgBtn i {
    cursor: pointer;
    font-size: 10px;
    display: flex;
    align-self: center;
    color: #f5f7f5f1;
  }
}

/* oya farm responsiveness starts */
@media (max-width: 510px) {
  .menuItem span {
    font-size: 11px;
  }

  .menuItem i {
    font-size: 11px;
  }

  .mobileImgBtn i {
    font-size: 23px;
  }
}

@media (max-width: 450px) {
  .mobileBottomNav {
    gap: 10px;
  }
}

@media (max-width: 250px) {
  .profile450 {
    display: none;
  }
}
