* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.mobileHeader {
  display: none;
}

.hambuger {
  display: none;
}

.tabletHambuger {
  display: none;
}

/* header styling starts */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #ffffff;
}

.navLeft {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.navLeft h3 {
  color: #1f2937;
  font-size: 18px;
}

.navLeft p {
  color: #6b7280;
  font-weight: 400;
  font-size: 15px;
}

.navRight {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navRightFirst {
  display: flex;
  gap: 10px;
}

.location {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #f1f8f4;
  padding: 7px 14px;
  border-radius: 30px;
}

.location span {
  font-size: 13px;
}

.weather {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #f1f8f4;
  padding: 7px 14px;
  border-radius: 30px;
  margin-right: 55px;
}

.weather i {
  color: goldenrod;
}

.weather span {
  font-size: 13px;
  font-weight: 600;
}

.notification {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.notification i {
  font-size: 20px;
}

.notification span {
  border-radius: 50%;
  font-size: 10px;
  background-color: rgb(230, 26, 26);
  padding: 0.9px 3px;
  display: flex;
  color: #f5f7f5f1;
  text-align: center;
  position: absolute;
  top: -9px;
  left: 9px;
}

/* oya farm responsiveness for tablet starts */
@media (max-width: 1300px) {
  .location {
    display: none;
  }

  .weather {
    display: none;
  }

  .tabletHambuger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
  }

  .tabletHambuger div {
    background-color: black;
    width: 16px;
    height: 2px;
  }
}

/* oya farm responsiveness mobile starts */
@media (max-width: 768px) {
  .location {
    display: none;
  }

  .weather {
    display: none;
  }

  .hambuger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
  }

  .hambuger div {
    background-color: #f5f7f5f1;
    width: 16px;
    height: 2px;
  }

  /* small screen header starts */
  .mobileHeader {
    display: flex;
    background-color: #1f7a34;
    padding: 15px 16px;
    border: 1px solid red;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    position: relative;
  }

  .topLogo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .topLogo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .topLogoInfo {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .topLogoInfo h3 {
    font-size: 15px;
    color: #f5f7f5f1;
    font-weight: 500;
  }

  .topLogoInfo p {
    font-size: 10px;
    color: #f5f7f5f1;
  }

  /* notification */
  .notification {
    display: none;
  }

  .mobileNotification {
    text-decoration: none;
  }

  .mobileNotification i {
    font-size: 20px;
    color: #f5f7f5f1;
  }

  .mobileNotification span {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(230, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f7f5f1;
    font-size: 11px;
    /* line-height: 1; */

    position: absolute;
    top: 18px;
    right: 7px;
    /* left: 10px; */
  }

  .tabletHambuger {
    display: none;
  }
}

@media (max-width: 450px) {
  /* .mobileNotification span {
    top: 23px;
    right: -2px;
    background-color: #1f2937;
  } */
}
